body{
    background-color: #333676;
    
}

h1{
    color: #F50829;
}


#funcolor{
    color: #040404;
}


.text-center{
    text-align: center;
}


p{
    color:#040404;
    font-size: 17px;
}

#fcolor{
    color: #E0001F;
}